<div class="row" style="margin-bottom: 0px !important;">
  <div *ngFor="let workout of workouts" >
    <div class="col-md-6 w3-padding-24">
      <div class="w3-card-4" style="max-height:400px; min-height:400px; overflow:auto;" >

        <header class="w3-container w3-light-grey w3-padding-small" >
          <a class="w3-button w3-circle w3-xlarge w3-right w3-green" style="z-index:0;">+</a>
          <h3>{{workout.title}}</h3>
        </header>


        <div class="w3-container w3-display-top-left">
          <hr>
          <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-bottom w3-margin-right"
            style="width:60px">
          <br>
          <p>{{workout.body}}</p>
          <br>

          <div class="w3-padding-left" *ngFor="let ex2 of workout.cardioExercises">
            <strong>{{ex2.name}}</strong>
            <p class="w3-margin-left w3-padding-small">Duration: {{ex2.duration}} </p>
            <br>
            <br>
          </div>

          <div class="w3-padding-left" *ngFor="let ex of workout.liftingExercises">
            <strong>{{ex.name}}</strong>
            <p class="w3-margin-left ">Sets: {{ex.sets}} </p>
            <p class="w3-margin-left ">Reps: {{ex.reps}}</p>
          </div>
          <a style="color:blue; float:right;" class="display-right " href="/workouts/{{workout._id}}/reviews">reviews</a>
        </div>
        <br>
      </div>
    </div>
  </div>
