<div class="page-container">
<form (submit)="onSearchSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" [(ngModel)]="name" name="name" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Search">
          </span>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="row" style="margin-bottom: 0px !important;">
  <div *ngFor="let workout of workouts" >
    <div class="col-md-6 w3-padding-24">
      <div class="w3-card-4" style="max-height:400px; min-height:400px; overflow:auto;" >

        <header class="w3-container w3-light-grey w3-padding-small" >
          <a (click)="onAddWorkout(workout)" class="w3-button w3-circle w3-xlarge w3-right w3-green" style="z-index:0;">+</a>
          <h3>{{workout.title}}</h3>
        </header>


        <div class="w3-container w3-display-top-left">
          <hr>
          <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-bottom w3-margin-right"
            style="width:60px">
          <br>


          <form class="form-horizontal">
            <div class="form-group">
              <label> <font style="color:blue">&emsp;Created by: {{workout.created_by}} </font></label>
              <br>
              <label>&emsp;Description: {{workout.description}} </label>
              <br>
              <label>&emsp;Cardio Exercise: {{workout.cardioname}} </label>
              <br>
              <label> <font size="2"> &emsp; &emsp;&emsp; Duration: {{workout.duration}} </font></label>
              <br>
              <label>&emsp;Lifting Exercise: {{workout.liftingname}} </label>
              <br>
              <label> <font size="2"> &emsp; &emsp;&emsp; Sets: {{workout.sets}} </font></label>
              <br>
              <label> <font size="2">  &emsp;&emsp;&emsp; Reps: {{workout.reps}} </font></label>

            </div>
          </form>

          <a style="color:blue; float:right;" class="display-right " href="/workouts/{{workout._id}}/reviews">reviews</a>

         <button (click)="onDeleteSubmit(workout)" class="btn btn-default" value="Delete" style="background-color:#f44336; float:left; border:none; color:white; padding: 15px 32 px; text-align: center; border-radius: 4px;"type="button" href="/workouts/workouts">Delete</button>
          <br>
         <br>


        </div>
        <br>

      </div>
    </div>
  </div>
</div>
</div>