<div class="row">
  <div *ngFor="let workout of workouts">
    <div class="col-md-6 w3-padding-24">
      <div class="w3-card-4	">

        <header class="w3-container w3-light-grey">
          <h3>{{workout.title}}</h3>
        </header>

        <div class="w3-container">
          <hr>
          <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-bottom w3-margin-right"
            style="width:60px">
          <p>{{workout.body}}</p>
        </div>

        <button class="w3-button w3-block w3-green">+ Add Workout</button>
      </div>
    </div>
  </div>
</div>