<div id= "homeDiv" style="position: relative;" class="">
  <img src="http://cdn.wallpapersafari.com/5/44/Bm50t9.jpg" style="">
  <!-- /assets/pexels-photo-26851.jpg -->

</div>
<div id="title">
  	<p style="color: white;">ÜBUNG</p>
</div>
<!-- <div class="container">
<div class="row">

	<div class="col-sm-4 panel panel-primary">
		<div class="panel-heading">
			<h3>About Us</h3>
		</div>
		<div class="panel-body">
			<p>We are a the best workout website that you'll come across.</p>
		</div>
	</div>
	<div class="col-sm-4 panel panel-primary">
		<div class="panel-heading">
			<h3>About Us</h3>
		</div>
		<div class="panel-body">
			<p>We are a the best workout website that you'll come across.</p>
		</div>
	</div>
	<div class="col-sm-4 panel panel-primary">
		<div class="panel-heading">
			<h3>About Us</h3>
		</div>
		<div class="panel-body">
			<p>We are a the best workout website that you'll come across.</p>
		</div>
	</div>

</div>

</div> -->

<div id="bottomDiv" class="">

	<div class="row">
	<!-- w3-round-large -->
	<a [routerLink]="['/workouts']">
	<div id="workout" class="col-sm-4 w3-hover-opacity-off w3-padding-large">
		<i class="material-icons" style="font-size: 36px;">fitness_center</i>
		<h3 style="text-align: center; vertical-align: middle;line-height: 40px; margin: 0;">WORKOUTS</h3>

		<!-- <div class="panel-body">
			<p style="font-weight: bold;">Go through hundreds of custom and unique workouts</p>
		</div> -->
	</div>
	</a>

	<a [routerLink]="['/gyms/95113']">
	<div id="gyms" class="col-sm-4 w3-hover-opacity-off w3-padding-large">
	<i class="material-icons" style="font-size: 36px;">store</i>
		<h3 style="text-align: center; vertical-align: middle;line-height: 40px; margin: 0;">GYMS</h3>
		<!-- <div class="panel-body">
			<p style="font-weight: bold;">Check out local gyms around you and their reviews</p>
		</div> -->
	</div>
</a>
  <a [routerLink]="['/about-us']">
	<div id="aboutus" class="col-sm-4 w3-hover-opacity-on w3-padding-large ">
		<i class="material-icons" style="font-size: 36px;">people</i>
		<h3 style="text-align: center; vertical-align: middle;line-height: 40px; margin: 0;">ABOUT US</h3>
		<!-- <div class="panel-body">
			<p style="font-weight: bold;">We are a the best workout website that you'll come across</p>
		</div> -->
	</div>
</a>

</div>
</div>
