<div class="jumbotron text-center">
  <h1>UBUNG</h1>
  <p class="lead"> Welcome to UBUNG</p>
  <div *ngIf="!authService.loggedIn()">
    <button class="btn btn-primary"><a [routerLink]="['/register']">Register</a></button>
    <button class="btn btn-default"><a [routerLink]="['/login']">Login</a></button>
  </div>
</div>



<!--<div class="row">-->
<!-- <div class="col-md-4">
    <h3>Review Workouts</h3>
    <p>Rate and review your favorite workouts!</p>
  </div>
  <div class="col-md-4">
    <h3>Search Workouts</h3>
    <p>Search for user submitted workouts and save your favorites!</p>
  </div> -->

<!--<div *ngFor="let workout of workouts">
    <div class="col-md-4">
      <div class="card">
        <div class="container">
          <p>{{workout.title}} {{workout.body}} </p>
        </div>
      </div>
    </div>
  </div>-->
<div class="row" style="margin-bottom: 0px !important;">
  <div *ngFor="let workout of workouts" >
    <div class="col-md-6 w3-padding-24" >
      <div class="w3-card-4" >

        <header class="w3-container w3-light-grey" >
          <h3>{{workout.title}}</h3>
        </header>

        <div class="w3-container w3-display-top-left">
          <hr>
          <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-bottom w3-margin-right"
            style="width:60px">
          <br>
          <p>{{workout.body}}</p>
          <br>

          <div class="w3-padding-left" *ngFor="let ex2 of workout.cardioExercises">
            <strong>{{ex2.name}}</strong>
            <p class="w3-margin-left w3-padding-small">Duration: {{ex2.duration}} </p>
            <br>
            <br>
          </div>


          <div class="w3-padding-left" *ngFor="let ex of workout.liftingExercises">
            <strong>{{ex.name}}</strong>
            <p class="w3-margin-left w3-padding-small">Sets: {{ex.sets}} </p>
            <p class="w3-margin-left w3-padding-small">Reps: {{ex.reps}}</p>
          </div>

     
          <button class="w3-button w3-block w3-green">+ Add Workout</button>
        </div>
        <br>
      </div>
    </div>
  </div>
