.footer {
    position:  relative;
    right: 50;
    bottom: 50;
    left: 50;
    /*background-color: #e4e4e4;*/
    text-align: center;
    padding: 36px 20px 18px 20px;
    font-size: 14px;
    line-height: 1.28571em;
    color: #666;
    /*border-top: 1px solid #ccc;*/
    /*min-width: 1020px;*/
}

.images{
    padding: 10px;
}