<app-navbar></app-navbar>
<div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
  <div class="footer">  
		<div class= "images" >
			<img src="/assets/weight2.png"  />
			<img src="/assets/barbell2.png" />
			<img src="/assets/gym2.png" />
			<img src="/assets/scale2.png" />
			<img src="/assets/stationary-bike2.png"/>
		</div> 
<p><font size="1">Copyright © 2017–2017 Ubung Inc. Ubung, Ubung logo, Ubung and related marks are registered trademarks of Ubung.</font></p>
</div> 
</div>
