
<div class="page-container container">
<form (submit)="onSearchSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" [(ngModel)]="location" name="location" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Search">
          </span>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="row">
  <div *ngFor="let gym of gyms">
    <div class="col-md-6 w3-padding-24">
      <div class="w3-card-4	">

        <header class="w3-container w3-light-grey">
          <h3>{{gym.name}}</h3>
        </header>

        <div class="w3-container">
          <hr>
          <img src="{{gym.image_url}}" alt="Avatar" class="w3-left w3-rounded w3-margin-bottom w3-margin-right"
            style="width:60px; height:60px">
          <p>{{gym.location.display_address[0]}} {{gym.location.display_address[0]}}</p>
          <p class="w3-display-bottomright w3-margin-right w3-margin-bottom w3-padding">rating: {{gym.rating}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
