<div class="container" style="margin-bottom: 0px !important;">
  <div *ngFor="let review of reviews" >

      <header >
          <h3>{{review.title}}</h3>
      </header>
        <p class="well"> {{review.body}} </p>
        <a style="color:blue; float:right;" class="display-right " >by: {{review.created_by}}</a>

        <button class="btn btn-danger" (click)="onDeleteSubmit(review)" type="button">Delete</button>

      <hr>
    </div>

    <button class="btn btn-primary"><a [routerLink]="['reg-review']">+ Add Review</a></button>

    <router-outlet></router-outlet>

  </div>
